<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiaofuk.sqlserver.mapper.ComplaintHandleMapper">
  <resultMap id="BaseResultMap" type="com.shiaofuk.sqlserver.model.ComplaintHandle">
    <!--@mbg.generated-->
    <!--@Table complaint_handle-->
    <id column="id" property="id" />
    <result column="complaint_id" property="complaintId" />
    <result column="manager_id" property="managerId" />
    <result column="handle_result" property="handleResult" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, complaint_id, manager_id, handle_result
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from complaint_handle
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from complaint_handle
    where id = #{id}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.shiaofuk.sqlserver.model.ComplaintHandle" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into complaint_handle (complaint_id, manager_id, handle_result)
    values (#{complaintId}, #{managerId}, #{handleResult})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.shiaofuk.sqlserver.model.ComplaintHandle" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into complaint_handle
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="complaintId != null">
        complaint_id,
      </if>
      <if test="managerId != null">
        manager_id,
      </if>
      <if test="handleResult != null">
        handle_result,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="complaintId != null">
        #{complaintId},
      </if>
      <if test="managerId != null">
        #{managerId},
      </if>
      <if test="handleResult != null">
        #{handleResult},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shiaofuk.sqlserver.model.ComplaintHandle">
    <!--@mbg.generated-->
    update complaint_handle
    <set>
      <if test="complaintId != null">
        complaint_id = #{complaintId},
      </if>
      <if test="managerId != null">
        manager_id = #{managerId},
      </if>
      <if test="handleResult != null">
        handle_result = #{handleResult},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shiaofuk.sqlserver.model.ComplaintHandle">
    <!--@mbg.generated-->
    update complaint_handle
    set complaint_id = #{complaintId},
      manager_id = #{managerId},
      handle_result = #{handleResult}
    where id = #{id}
  </update>
</mapper>