<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiaofuk.sqlserver.mapper.ComplaintMapper">
  <resultMap id="BaseResultMap" type="com.shiaofuk.sqlserver.model.Complaint">
    <!--@mbg.generated-->
    <!--@Table complaint-->
    <id column="id" property="id" />
    <result column="user_id" property="userId" />
    <result column="thing_id" property="thingId" />
    <result column="type" property="type" />
    <result column="reason" property="reason" />
    <result column="state" property="state" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, thing_id, `type`, reason, `state`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from complaint
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from complaint
    where id = #{id}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.shiaofuk.sqlserver.model.Complaint" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into complaint (user_id, thing_id, `type`, reason, `state`)
    values (#{userId}, #{thingId}, #{type}, #{reason}, #{state})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.shiaofuk.sqlserver.model.Complaint" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into complaint
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="thingId != null">
        thing_id,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="reason != null">
        reason,
      </if>
      <if test="state != null">
        `state`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId},
      </if>
      <if test="thingId != null">
        #{thingId},
      </if>
      <if test="type != null">
        #{type},
      </if>
      <if test="reason != null">
        #{reason},
      </if>
      <if test="state != null">
        #{state},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shiaofuk.sqlserver.model.Complaint">
    <!--@mbg.generated-->
    update complaint
    <set>
      <if test="userId != null">
        user_id = #{userId},
      </if>
      <if test="thingId != null">
        thing_id = #{thingId},
      </if>
      <if test="type != null">
        `type` = #{type},
      </if>
      <if test="reason != null">
        reason = #{reason},
      </if>
      <if test="state != null">
        `state` = #{state},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shiaofuk.sqlserver.model.Complaint">
    <!--@mbg.generated-->
    update complaint
    set user_id = #{userId},
      thing_id = #{thingId},
      `type` = #{type},
      reason = #{reason},
      `state` = #{state}
    where id = #{id}
  </update>
</mapper>