<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiaofuk.sqlserver.mapper.FormMapper">
  <resultMap id="BaseResultMap" type="com.shiaofuk.sqlserver.model.Form">
    <!--@mbg.generated-->
    <!--@Table form-->
    <id column="id" property="id" />
    <result column="thing_id" property="thingId" />
    <result column="user_id" property="userId" />
    <result column="state" property="state" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, thing_id, user_id, `state`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from form
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from form
    where id = #{id}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.shiaofuk.sqlserver.model.Form" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into form (thing_id, user_id, `state`)
    values (#{thingId}, #{userId}, #{state})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.shiaofuk.sqlserver.model.Form" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into form
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="thingId != null">
        thing_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="state != null">
        `state`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="thingId != null">
        #{thingId},
      </if>
      <if test="userId != null">
        #{userId},
      </if>
      <if test="state != null">
        #{state},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shiaofuk.sqlserver.model.Form">
    <!--@mbg.generated-->
    update form
    <set>
      <if test="thingId != null">
        thing_id = #{thingId},
      </if>
      <if test="userId != null">
        user_id = #{userId},
      </if>
      <if test="state != null">
        `state` = #{state},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shiaofuk.sqlserver.model.Form">
    <!--@mbg.generated-->
    update form
    set thing_id = #{thingId},
      user_id = #{userId},
      `state` = #{state}
    where id = #{id}
  </update>
</mapper>