<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiaofuk.sqlserver.mapper.LostThingMapper">
  <resultMap id="BaseResultMap" type="com.shiaofuk.sqlserver.model.LostThing">
    <!--@mbg.generated-->
    <!--@Table lost_thing-->
    <id column="id" property="id" />
    <result column="thing_id" property="thingId" />
    <result column="state" property="state" />
    <result column="user_id" property="userId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, thing_id, `state`, user_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from lost_thing
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from lost_thing
    where id = #{id}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.shiaofuk.sqlserver.model.LostThing" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into lost_thing (thing_id, `state`, user_id)
    values (#{thingId}, #{state}, #{userId})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.shiaofuk.sqlserver.model.LostThing" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into lost_thing
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="thingId != null">
        thing_id,
      </if>
      <if test="state != null">
        `state`,
      </if>
      <if test="userId != null">
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="thingId != null">
        #{thingId},
      </if>
      <if test="state != null">
        #{state},
      </if>
      <if test="userId != null">
        #{userId},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shiaofuk.sqlserver.model.LostThing">
    <!--@mbg.generated-->
    update lost_thing
    <set>
      <if test="thingId != null">
        thing_id = #{thingId},
      </if>
      <if test="state != null">
        `state` = #{state},
      </if>
      <if test="userId != null">
        user_id = #{userId},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shiaofuk.sqlserver.model.LostThing">
    <!--@mbg.generated-->
    update lost_thing
    set thing_id = #{thingId},
      `state` = #{state},
      user_id = #{userId}
    where id = #{id}
  </update>



<!--auto generated by MybatisCodeHelper on 2024-12-13-->
  <select id="selectThingIdByState" resultType="java.lang.Integer">
    select thing_id
    from lost_thing
    where `state`=#{state}
  </select>





<!--auto generated by MybatisCodeHelper on 2024-12-14-->
  <update id="updateStateByThingIdAndUserId">
        update lost_thing
        set `state`=#{updatedState}
        where thing_id=#{thingId} and user_id=#{userId}
    </update>

<!--auto generated by MybatisCodeHelper on 2024-12-18-->
  <select id="selectIdByUserIdAndState" resultType="java.lang.Integer">
        select id
        from lost_thing
        where user_id=#{userId} and `state`=#{state}
    </select>
</mapper>